<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496715561921-qhujhmu3pdj0mttj1692jkopcrcp97ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496715561921-qhujhmu3pdj0mttj1692jkopcrcp97ao</string>
	<key>API_KEY</key>
	<string>AIzaSyCgygd0Nv0kOEX7mkOIeP3Qgfjn6CJqI_U</string>
	<key>GCM_SENDER_ID</key>
	<string>496715561921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leandro-ramos.Pain</string>
	<key>PROJECT_ID</key>
	<string>le-pain-f4c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>le-pain-f4c2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496715561921:ios:0afd3a8f28c043adb3cd40</string>
	<key>DATABASE_URL</key>
	<string>https://le-pain-f4c2f.firebaseio.com</string>
</dict>
</plist>